[submodule "Web-Spider-nbswz"]
	path = Web-Spider-nbswz
	url = git@github.com:zccz14/Web-Spider-nbswz.git
[submodule "Orange-Juice"]
	path = Orange-Juice
	url = git@github.com:function-x/Orange-Juice.git
[submodule "x86AssemblyReport"]
	path = x86AssemblyReport
	url = git@github.com:zccz14/x86AssemblyReport.git
[submodule "x86AssemblyFinal"]
	path = x86AssemblyFinal
	url = git@github.com:zccz14/x86AssemblyFinal.git
[submodule "zccz14.com"]
	path = zccz14.com
	url = git@github.com:zccz14/zccz14.com.git
[submodule "Web-Spider-Wenku8-Konosuba"]
	path = Web-Spider-Wenku8-Konosuba
	url = git@github.com:zccz14/Web-Spider-Wenku8-Konosuba.git
[submodule "Orange-Juice.wiki"]
	path = Orange-Juice.wiki
	url = https://github.com/function-x/Orange-Juice.wiki.git
[submodule "win32Frog"]
	path = win32Frog
	url = git@github.com:zccz14/win32Frog.git
[submodule "pdf"]
	path = pdf
	url = git@github.com:zccz14/pdf.git
[submodule "myblog/themes/next"]
	path = myblog/themes/next
	url = https://github.com/zccz14/hexo-theme-zccz14.git
[submodule "hexo-theme-response"]
	path = hexo-theme-response
	url = git@github.com:zccz14/hexo-theme-response.git
[submodule "blog"]
	path = blog
	url = git@github.com:zccz14/blog.git
[submodule "react-source"]
	path = react-source
	url = git@github.com:zccz14/react-source.git
